<section class="mt-2 background-main">
	<div class="max-w-screen-lg mx-auto">
        <div class="px-7 md:px-8 lg:px-10 xl:px-0">
            <div class="mt-12">
                <h2 class="text-3xl uppercase font-bold text-center text-purple-ssd">¡Somos SSOLDIG!</h2>
                <p class="mt-6 text-justify text-gray-800">Somos un equipo de profesionales que trabajamos para satisfacer las necesidades de nuestros clientes y asegurar el éxito de los mismos. Contamos con las capacidades necesarias para lograr soluciones útiles que generen valor y que estén alineadas con sus planes estratégicos empresariales.</p>
            </div>
            <div class="grid grid-cols-1 gap-y-10 mt-14 mb-20">
                <div class="flex items-center flex-col md:flex-row gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="" alt="Foto de Luis Orozco" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Luis Orozco Lopez</h3>
                            <h4 class="text-gray-800">CEO y Fundador de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-24 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8"></p>
                    </div>
                </div>
                <div class="flex items-center flex-col md:flex-row-reverse gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="../../../../assets/img/Eros-Bazan.jpg" class="rounded-full mx-auto my-auto" width="280" alt="Foto de Eros Bazan">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Eros Bazan Calderon</h3>
                            <h4 class="text-gray-800">CTO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-24 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8">Bachiller en Ingeniería de Sistemas, con amplia experiencia en el rubro de la Tecnología y Desarrollo, trabajando tanto en empresas del país como en el extranjero. Cuenta con amplios conocimientos en programación, modelado de datos, diseño y análisis de sistemas, así como también con virtudes y valores que lo hacen un gran profesional.</p>
                    </div>
                </div>
                <div class="flex items-center flex-col md:flex-row gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="" alt="Foto de Aron Galvez" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Aron Galvez De La Cruz</h3>
                            <h4 class="text-gray-800">COO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-24 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8"></p>
                    </div>
                </div>
                <div class="flex items-center justify-center flex-col md:flex-row-reverse gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="../../../../assets/img/Luis-Gallegos.jpeg" alt="Foto de Luis Gallegos" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Luis Gallegos Tueros</h3>
                            <h4 class="text-gray-800">CFO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-24 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8 px-4 lg:px-0">Contador Público Colegiado bilingüe con especialización en inversiones (nivel I del programa CFA aprobado), miembro de la Asociación Peruana de Finanzas (APEF) con dominio de Excel (programación VBA).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
