<section id="inicio" class="mt-2 background-main">
	<div class="max-w-screen-lg mx-auto">
        <div class="px-7 md:px-8 lg:px-10 xl:px-0">
            <div class="mt-12">
                <h2 class="text-3xl uppercase font-bold text-center text-purple-ssd">¡Somos SSOLDIG!</h2>
                <p class="mt-6 text-justify text-gray-800">Somos un equipo de profesionales con más de 20 años de experiencia, que contribuimos al logro de los objetivos empresariales de nuestros clientes por medio de una selección y evaluación acertada del talento externo. Además, participamos en los procesos internos de desarrollo de sus colaboradores a través de técnicas vanguardistas de evaluación y capacitaciones in house que los potencien como profesionales a nivel individual y en equipo.</p>
            </div>
            <div class="grid grid-cols-1 gap-y-10 mt-14 mb-20">
                <div class="flex items-center flex-col md:flex-row gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="" alt="Foto de Luis Orozco" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Luis Orozco Lopez</h3>
                            <h4 class="text-gray-800">CEO y Fundador de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-32 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8"></p>
                    </div>
                </div>
                <div class="flex items-center flex-col md:flex-row-reverse gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="../../../../assets/img/Eros-Bazan.jpg" class="rounded-full mx-auto my-auto" width="280" alt="Foto de Eros Bazan">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Eros Bazan Calderon</h3>
                            <h4 class="text-gray-800">CTO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-32 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8">Bachiller en Ingeniería de Sistemas, con amplia experiencia en el rubro de la Tecnología y Desarrollo, trabajando tanto en empresas del país como en el extranjero. Cuenta con amplios conocimientos en programación, modelado de datos, diseño y análisis de sistemas, así como también con virtudes y valores que lo hacen un gran profesional.</p>
                        <p class="text-zinc-700 text-justify mt-1">Su foco está en los logros por objetivos, por lo cual lleva a todo nuestro equipo de trabajo a creer que todo es posible antes cualquier adversidad.</p>
                    </div>
                </div>
                <div class="flex items-center flex-col md:flex-row gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="" alt="Foto de Aron Galvez" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Aron Galvez De La Cruz</h3>
                            <h4 class="text-gray-800">COO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-32 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8"></p>
                    </div>
                </div>
                <div class="flex items-center justify-center flex-col md:flex-row-reverse gap-x-2 gap-y-6">
                    <div class="md:w-1/2">
                        <img src="" alt="Foto de Luis Gallegos" class="rounded-full mx-auto my-auto" width="280">
                    </div>
                    <div class="md:w-1/2">
                        <div class="flex flex-col text-center justify-center items-center">
                            <h3 class="text-2xl font-bold text-gray-800">Luis Gallegos Tueros</h3>
                            <h4 class="text-gray-800">CFO y Socio de SSOLDIG</h4>
                            <span class="border-t-4 border-purple-ssd w-32 mt-2"></span>
                        </div>
                        <p class="text-zinc-700 text-justify mt-8 px-4 lg:px-0">Contador Público Colegiado bilingüe con especialización en inversiones (nivel I del programa CFA aprobado), miembro de la Asociación Peruana de Finanzas (APEF) con dominio de Excel (programación VBA).</p>
                    </div>
                </div>
            </div>
            <!-- <div class="mt-20 mb-20">
                <h3 class="text-2xl font-bold text-neutral-700 text-center uppercase">Historia</h3>
                <p class="text-justify text-neutral-800 mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, ab ducimus. Repudiandae officia minima illo cumque! Impedit repellendus minus sunt inventore, nemo blanditiis eum! Tempore a necessitatibus enim saepe autem.
                Beatae in, suscipit exercitationem, accusantium tempora tempore provident nam sint fuga recusandae esse quis quaerat officiis minus, veniam ullam repudiandae assumenda quo adipisci maiores minima nostrum nisi doloribus. Eius, maiores.
                Exercitationem adipisci doloremque praesentium minus consectetur animi quis fuga recusandae ipsam voluptatum nostrum explicabo nisi molestias laudantium, necessitatibus rem repudiandae assumenda sapiente facere consequuntur eum? Corrupti minima voluptatem quasi velit.</p>
            </div> -->
        </div>
    </div>
</section>
