<section id="inicio" class="mt-12 mb-14">
	<div class="max-w-screen-lg mx-auto">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<div class="grid grid-cols-1 md:grid-cols-2">
				<div>
					<h1 class="text-purple-ssd font-bold uppercase text-center md:text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-6">¡Un mundo digital en tus manos!</h1>
					<p class="text-purple-600 text-base text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis consectetur illum error beatae unde nemo? Nostrum perferendis dignissimos, quas labore eius voluptates eligendi, expedita id laboriosam fugit ullam numquam suscipit!</p>
					<div class="flex items-center mt-8 justify-center md:justify-start">
						<button type="button" class="bg-orange-ssd px-8 py-2 font-medium rounded-full text-white hover:bg-orange-700 transition duration-300">Ir a soluciones</button>
					</div>
				</div>
				<div class="hidden md:block">
					<img src="../../../../assets/img/presentacion.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
