<section id="inicio" class="mt-2 background-main">
	<span class="background-presentation"></span>
	<div class="max-w-screen-lg mx-auto pb-20 sm:pb-72 pt-8 md:pt-12">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<div class="grid grid-cols-1 md:grid-cols-2">
				<div class="mx-auto">
					<div class="md:min-h-[270px]">
						<h1 id="writing" class="text-purple-ssd font-bold uppercase text-center md:text-left text-3xl sm:text-4xl md:text-6xl lg:text-[5rem] mb-6">¡Un mundo digital en tus manos!</h1>
					</div>
					<p class="text-purple-600 text-base text-center md:text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis consectetur illum error beatae unde nemo? Nostrum perferendis dignissimos, quas labore eius voluptates eligendi, expedita id laboriosam fugit ullam numquam suscipit!</p>
					<div class="flex items-center mt-8 justify-center md:justify-start">
						<button type="button" class="bg-orange-ssd px-8 py-2 font-medium rounded-full text-white hover:bg-orange-700 transition duration-300">Ir a soluciones</button>
					</div>
				</div>
				<div class="hidden md:block my-auto">
					<img src="../../../../assets/img/technology-preview.png" width="100%" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
