<section id="inicio" class="background-main mt-2">
	<div class="background-presentation">
        <div class="right-0 bottom-0 absolute w-1/2 h-3/4">
            <div class="hidden md:block">
                <span class="text-white font-medium absolute left-1/3 bottom-1/4 opacity-0 animation-fadeIn animation-delay-1.5">dispositivos digitales</span>
                <span class="text-white font-medium absolute left-[15%] bottom-[15%] opacity-0 animation-fadeOut animation-delay-9.5">tecnologías</span>
                <span class="text-white font-medium absolute right-1/4 bottom-[15%] opacity-0 animation-fadeOut animation-delay-7.5">personas</span>
                <span class="text-white font-medium absolute right-1/3 top-[60%] opacity-0 animation-fadeOut animation-delay-5.5">objetos</span>
                <span class="text-white font-medium absolute right-[10%] top-1/3 opacity-0 animation-fadeIn animation-delay-3.5">mundo digital</span>
                <span class="text-white font-medium absolute right-[10%] bottom-1/3 opacity-0 animation-fadeIn animation-delay-6.5">experiencia</span>
            </div>
        </div>
    </div>
	<div class="max-w-screen-lg mx-auto pb-20 sm:pb-56 pt-8 md:pt-12">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 mx-auto my-auto">
				<div class="mx-auto">
					<div class="md:min-h-[180px]">
						<h1  class="text-purple-ssd inline-block font-bold uppercase text-center md:text-left text-3xl sm:text-4xl md:text-[2.5rem] lg:text-[3rem] xl:text-[3.5rem] mb-6"><span id="writing" class="inline-block leading-[3.5rem]">¡Un mundo digital en tus manos!</span></h1>
					</div>
					<p class="text-purple-800 text-base xl:text-lg text-center md:text-justify leading-relaxed">El espacio que nos rodea está cubierto por <span class="font-medium">millones de bits que nos integran</span> gracias a la Internet por <span class="font-medium">dispositivos digitales inteligentes</span> y otras tecnologías. Los productos y servicios están al alcance de nuestras manos entre personas y objetos.</p>
                    <p class="text-purple-800 text-base xl:text-lg text-center md:text-justify leading-relaxed mt-0.5"><span class="font-medium">SSOLDIG - "SOFTWARE SOLUCIONES DIGITALES"</span> te lleva a la órbita y a disfrutar de la grata experiencia de un mundo digital.</p>
					<div class="flex items-center mt-8 justify-center md:justify-start">
						<button type="button" routerLink="/" fragment="por-que-elegirnos" class="bg-orange-ssd px-6 text-sm xl:text-base lg:px-8 py-2 font-medium rounded-full text-white uppercase hover:bg-orange-700 transition duration-300">Conoce más</button>
					</div>
				</div>
				<div class="hidden md:block mx-auto">
					<img src="../../../../assets/img/technology-preview.png" class="mx-auto my-auto w-[250px] md:w-[360px] lg:w-[380px] xl:w-[350px] 2xl:w-[420px]" alt="Logo de tecnologías">
				</div>
			</div>
		</div>
	</div>
</section>
