<section id="clientes" class="pt-12 pb-10">
	<div class="max-w-screen-lg mx-auto">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<h2 class="text-purple-ssd text-2xl font-medium text-center">¡Nuestros clientes nos respaldan!</h2>
			<p class="pt-4 text-purple-dark-ssd text-center">Nuestros clientes son lo primero para nosotros y son testigos del excelente servicio que les ofrecemos.</p>
			<div class="grid grid-cols-1 mt-6">
				<div class="rounded-md shadow overflow-auto transition hover:-translate-y-1 duration-300 cursor-pointer mx-auto">
					<img src="../../../../assets/img/two_arrows_logo.jpeg" alt="Logo Two Arrows" width="350">
				</div>
			</div>
		</div>
	</div>
</section>