<footer class="bg-purple-ssd w-full text-white">
	<div class="max-w-screen-xl mx-auto">
		<div class="px-7 md:px-8 lg:px-10">
			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 py-6 gap-x-8 gap-y-4">
				<div class="mb-5">
					<h2 class="uppercase font-medium text-xl">Sofware Soluciones Digitales</h2>
					<p class="text-sm text-justify pt-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
						aliquam est molestiae cupiditate. Consequuntur praesentium nihil porro distinctio cumque
						exercitationem, itaque vel quasi doloremque aliquid quos accusantium, maxime explicabo a.</p>
				</div>
				<div class="mb-5">
					<h2 class='font-medium text-lg uppercase'>Contacto</h2>
					<p class='pt-6 pb-1 text-sm font-bold uppercase'>Perú</p>
					<p class='py-1 pt-2 text-sm'>San Borja, Lima</p>
					<p class='py-1 text-sm'>Calle</p>
					<p class='py-1 text-sm'>
						<i class="bi bi-telephone-fill mr-1"></i>
						(01) 636-7287
					</p>
				</div>
				<div class='mb-5'>
					<h2 class='font-medium text-lg uppercase'>Más Información</h2>
					<nav>
						<ul class='pt-6'>
							<li class='list-none pb-1'>
								<a routerLink="/" fragment="soluciones"
									class='text-sm cursor-pointer hover:text-skyblue-ssd transition-all duration-500'>
									Soluciones
								</a>
							</li>
							<li class='list-none py-1'>
								<a routerLink="/" fragment="nosotros"
									class='text-sm cursor-pointer hover:text-skyblue-ssd transition-all duration-500'>
									Nosotros
								</a>
							</li>
							<li class='list-none py-1'>
								<a routerLink="/" fragment="contacto"
									class='text-sm cursor-pointer hover:text-skyblue-ssd transition-all duration-500'>
									Contáctenos
								</a>
							</li>
							<li class='list-none py-1'>
								<a routerLink="/politicas-de-privacidad"
									class='text-sm cursor-pointer hover:text-skyblue-ssd transition-all duration-500'>Políticas
									de Privacidad de SSOLDIG SAC</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="mb-5">
					<h2 class='font-medium text-lg uppercase'>Nuestras Redes</h2>
					<div class='pt-6 pb-1 text-xl text-slate-900 flex gap-2'>
						<a rel='noopener' href="#"
							class='flex items-center justify-center w-9 h-9 rounded-full bg-white hover:bg-skyblue-ssd hover:text-white transition-all duration-500'
							target='_blank'>
							<i class="bi bi-facebook text-[18px]"></i>
						</a>
						<a rel='noopener' href="#"
							class='flex items-center justify-center w-9 h-9 rounded-full bg-white hover:bg-skyblue-ssd hover:text-white transition-all duration-500'
							target='_blank'>
							<i class="bi bi-linkedin text-[17px]"></i>
						</a>
						<a rel='noopener' href="#"
							class='flex items-center justify-center w-9 h-9 rounded-full bg-white hover:bg-skyblue-ssd hover:text-white transition-all duration-500'
							target='_blank'>
							<i class="bi bi-instagram text-[18px]"></i>
						</a>
						<a rel='noopener' href="#"
							class='flex items-center justify-center w-9 h-9 rounded-full bg-white hover:bg-skyblue-ssd hover:text-white transition-all duration-500'
							target='_blank'>
							<i class="bi bi-whatsapp text-[18px]"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class='h-[1px] bg-white' />
	<div class="w-full text-center bg-purple-dark-ssd py-4">
		<p>&copy; SSOLDIG 2023. Todos los derechos reservados.</p>
		<p class="text-sm">Creado por <span class="font-medium">Software Soluciones Digitales SAC</span></p>
	</div>
</footer>