<section id="por-que-elegirnos" class="bg-orange-ssd pt-12 pb-20">
	<div class="max-w-screen-lg mx-auto">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<h2 class="text-center text-white font-medium text-2xl">¿Por qué elegirnos?</h2>
			<p class="pt-4 text-white text-center">Somos un equipo de profesionales trabajando para satisfacer las necesidades de nuestros clientes asegurando el éxito de los mismos.</p>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4 md:gap-y-8 pt-8">
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-blue-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-lg"><i class="bi bi-people-fill text-xl"></i>EXCELENTE EQUIPO</h3>
					<p class="text-justify text-[14.5px] pt-4 px-2">Nuestra fortaleza es la creatividad  para romper moldes y arquetipos contando con profesionales con compromiso, talento y diligencia. Trabajamos en equipo con eficiencia, eficacia y objetivos comunes para la plena satisfacción de nuestro clientes.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-blue-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-lg"><i class="bi bi-hand-thumbs-up-fill text-xl"></i>COMPROMISO</h3>
					<p class="text-justify text-[14.5px] pt-4 px-2">Nuestro trabajo está enfocado en la generación de productos que den satisfacción a nuestros clientes <span class="font-medium">acortando distancias</span>, con resultados sostenibles en el tiempo. Contamos con mística, dedicación y precisión en cada uno de nuestros procesos.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-blue-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-lg"><i class="bi bi-person-heart text-xl"></i>HONESTIDAD E INTEGRIDAD</h3>
					<p class="text-justify text-[14.5px] pt-4 px-2">La honestidad y transparencia en cada uno de nuestros productos y procesos muestran la integridad de nuestro equipo de trabajo, actuando dentro del marco de la legalidad como pilar de nuestro valores.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-blue-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-lg"><i class="bi bi-gear-fill text-xl"></i>SOPORTE</h3>
					<p class="text-justify text-[14.5px] pt-4 px-2">Contamos con el conocimiento y capacidad de un gran equipo que da soporte a los requerimientos de nuestros clientes las 24 horas del día y todos los días del año.</p>
				</div>
			</div>
		</div>
	</div>
</section>
