<section id="por-que-elegirnos" class="bg-orange-ssd pt-12 pb-20">
	<div class="max-w-screen-lg mx-auto">
		<div class="px-7 md:px-8 lg:px-10 xl:px-0">
			<h2 class="text-center text-white font-medium text-2xl">¿Por qué elegirnos?</h2>
			<p class="pt-4 text-white text-center">Somos un equipo de profesionales que trabajamos para satisfacer las necesidades de nuestros clientes y asegurar el éxito de los mismos.</p>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4 md:gap-y-8 pt-8">
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-orange-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-xl"><i class="bi bi-people-fill text-2xl"></i>EXCELENTE EQUIPO</h3>
					<p class="text-justify text-[15px] pt-4 px-2">Nuestra fortaleza es la CREATIVIDAD  para romper moldes y arquetipos basados en PROFESIONALES con compromiso, talento, eficiencia y eficacia. Trabajamos en equipo con objetivos comunes para la PLENA SATISFACCIÓN DE NUESTROS CLIENTES.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-orange-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-xl"><i class="bi bi-hand-thumbs-up-fill  text-2xl"></i>COMPROMISO</h3>
					<p class="text-justify text-[15px] pt-4 px-2">Somos un equipo con foco en la generación de productos que den satisfacción a nuestros clientes ACORTANDO LAS DISTANCIAS, con resultados sostenibles en el tiempo. Nuestro equipo de trabajo cuenta con la mística, dedicación y precisión en cada uno de nuestros procesos.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-orange-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-xl"><i class="bi bi-person-heart text-2xl"></i>HONESTIDAD E INTEGRIDAD</h3>
					<p class="text-justify text-[15px] pt-4 px-2">La honestidad y transparencia en cada uno de nuestros productos y procesos muestran la integridad de nuestro equipo de trabajo, trabajando en el marco de la legalidad para nuestros clientes.</p>
				</div>
				<div class="rounded-md bg-white transition hover:-translate-y-1 text-orange-ssd duration-300 cursor-pointer px-6 py-6">
					<h3 class="flex items-center justify-center gap-x-1.5 font-medium text-xl"><i class="bi bi-gear-fill text-2xl"></i>SOPORTE</h3>
					<p class="text-justify text-[15px] pt-4 px-2">Contamos con el conocimiento y capacidad de un gran equipo de trabajo que da soporte a los requerimientos de nuestros clientes las 24 horas al día en todos los días del año.</p>
				</div>
			</div>
		</div>
	</div>
</section>