<section id="contacto" class="pt-8">
    <div class="max-w-screen-lg mx-auto">
        <div class="px-7 md:px-8 lg:px-10 xl:px-0">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
                <div class="my-auto hidden md:block">
                    <img src="../../../../assets/img/servicio-cliente.png"
                        alt="Escríbenos un mensaje para recibir información de nuestros servicios" width="100%" height="100%">
                </div>
                <div class="mx-2 my-6">
                    <div class='bg-white rounded shadow px-6 pt-6 pb-6 mb-4'>
                        <div class="text-center text-gray-700 mb-3">
                            <h2 class="text-xl font-medium mb-3">¡Contáctanos!</h2>
                            <p class="text-sm">Deja tus datos consultando sobre nuestros servicios y nos estaremos
                                comunicando contigo.</p>
                        </div>
                        <form class="mt-6" [formGroup]="formContact" (ngSubmit)="sendContactData($event)">
                            <div class='mb-3'>
                                <label class='block text-gray-700 text-sm font-medium mb-1' for='nombre'>Nombres <span
                                        class='text-red-600 text-sm'>*</span></label>
                                <input id='nombre'
                                    class='shadow-sm placeholder:text-sm appearance-none border border-skyblue-ssd rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-ssd focus:border-purple-200'
                                    type='text' placeholder='Ingrese sus nombres' value="name" formControlName="name" name="name" />
                                <small
                                    *ngIf="formContact.get('name')?.errors && formContact.get('name')?.touched && formContact.get('name')?.hasError('required')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">Su nombre es requerido *</small>
                                <small
                                    *ngIf="formContact.get('name')?.errors && formContact.get('name')?.touched && formContact.get('name')?.hasError('pattern')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">No puede contener caracteres
                                    especiales *</small>
                            </div>
                            <div class='mb-3'>
                                <label class='block text-gray-700 text-sm font-medium mb-1' for='apellidos'>Apellidos
                                    <span class='text-red-600 text-sm'>*</span></label>
                                <input id='apellidos'
                                    class='shadow-sm placeholder:text-sm appearance-none border border-skyblue-ssd rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-ssd focus:border-purple-200'
                                    type='text' placeholder='Ingrese sus apellidos' formControlName="lastName"
                                    name="lastName" />
                                <small
                                    *ngIf="formContact.get('lastName')?.errors && formContact.get('lastName')?.touched && formContact.get('lastName')?.hasError('required')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">Su apellido es requerido *</small>
                            </div>
                            <div class='mb-3'>
                                <label class='block text-gray-700 text-sm font-medium mb-1' for='email'>Correo
                                    electrónico <span class='text-red-600 text-sm'>*</span></label>
                                <input id='email'
                                    class='shadow-sm placeholder:text-sm appearance-none border border-skyblue-ssd rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-ssd focus:border-purple-200'
                                    type='text' placeholder='Ingrese su email' formControlName="email" name="email" />
                                <small
                                    *ngIf="formContact.get('email')?.errors && formContact.get('email')?.touched && formContact.get('email')?.hasError('required')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">Su email es requerido *</small>
                            </div>
                            <div class='mb-3'>
                                <label class='block text-gray-700 text-sm font-medium mb-1' for='empresa'>Compañia /
                                    Organización <span class='text-red-600 text-sm'>*</span></label>
                                <input id='empresa'
                                    class='shadow-sm placeholder:text-sm appearance-none border border-skyblue-ssd rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-ssd focus:border-purple-200'
                                    type='text' placeholder='Ingrese su compañia' formControlName="company"
                                    name="company" />
                                <small
                                    *ngIf="formContact.get('company')?.errors && formContact.get('company')?.touched && formContact.get('company')?.hasError('required')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">Su organización es requerido *</small>
                            </div>
                            <div class='mb-3'>
                                <label class='block text-gray-700 text-sm font-medium mb-1' for='email'>Mensaje <span
                                        class='text-red-600 text-sm'>*</span></label>
                                <textarea id='mensaje' rows="5"
                                    class='shadow-sm placeholder:text-sm appearance-none border border-skyblue-ssd rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-ssd focus:border-purple-200 resize-none'
                                    placeholder='Escríbenos un mensaje' formControlName="message"
                                    name="message"></textarea>
                                <small
                                    *ngIf="formContact.get('message')?.errors && formContact.get('message')?.touched && formContact.get('message')?.hasError('required')"
                                    class="text-red-500 font-medium ml-2 mt-0.5 block">Su mensaje es requerido *</small>
                            </div>
                            <div>
                                <button type="submit"
                                    class="w-full bg-gradient-to-r font-medium from-skyblue-ssd to-sky-300 text-white uppercase text-sm py-2.5 px-2 rounded hover:bg-gradient-to-r hover:from-purple-ssd hover:to-purple-500 transition-all duration-300">Enviar
                                    Mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
